.advantages
	h1.text-center Не тратьте время на поиски
	p.text-center AdviseMe подберёт фильмы и сериалы специально для вас
	.advantages-rate
		.container
			.row
				.col-lg-6
					h2 Оценивайте фильмы и сериалы
					p Ставьте оценки и пишите отзывы к фильмам и сериалам, которые вы посмотрели, чтобы сделать наш прогноз более точным
				.col-lg-6
					img(src="./dist/images/stats.png" )
	.advantages-lists
		.container
			.row
				.col-lg-6
					img(src="./dist/images/stats.png" )
				.col-lg-6
					h2 Добавляйте фильмы и сериалы в списки
					p Создавайте отдельные списки для фильмов и сериалов, которые вы хотите посмотреть, или скрывайте их, и они больше не будут вам попадаться
	.advantages-filter
		.container
			.row
				.col-lg-6
					h2 Задавайте параметры поиска
					p Используйте возможности нашей поисковой системы, чтобы найти то, что подходит именно вам
					p К примеру, вы можете найти все Sci-Fi фильмы 80-х или выбрать один из итальянских детективов
				.col-lg-6
					img(src="./dist/images/stats.png" )
	h1.text-center Доверьтесь своему вкусу
	p.text-center AdviseMe лучше других знает, что вам понравится
	a.light-button.text-center(href="index_signed.html") Хочу начать 