<th:block th:fragment="user" xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Средний рейтинг</th>
        <th>Оценка пользователя</th>
        <th>Дата оценки</th>
    </tr>
    </thead>
</th:block>

<th:block th:fragment="recommendation" xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Средний рейтинг</th>
        <th>Дата добавления</th>
    </tr>
    </thead>
</th:block>