extends templates/main-template.pug

block append variables
	- var navDropdown1 = "name"

block indexxx

	include blocks/header

	include blocks/block1_tostart

	include blocks/block2_advantages

	include blocks/footer

