extends templates/main-template.pug

block append variables
	- var navDropdown1 = "name"

block indexxx

	include blocks/header

	include blocks/block3_invitation

	include blocks/block4_movielists

	include blocks/block6_collections

	include blocks/footer

