<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/header :: header"/>
<body>
<nav th:replace="partials/header :: navigation"/>

<main class="my-5">
    <div class="container">
        <div class="form-group">
            <div class="card card-body">
                <table id="movie_table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Оценка</th>
                        <th>Дата оценки</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</main>

</body>

<footer th:replace="partials/footer :: footer"></footer>

<script>
    $(document).ready(function() {
        var user_id;
        var table = $('#movie_table').DataTable({
            "ajax": {
                "url": user_id + "/movies",
                "type": "GET",
                "dataSrc": ""
            },
            "dom": 'Blfrtip',
            "buttons": [
                'selectAll',
                'selectNone'
            ],
            "language": {
                "buttons": {
                    "selectAll": "Select all items",
                    "selectNone": "Select none"
                }
            },
            "aoColumns": [
                {"data": "user.movies"},
                {"data": "password_plain"},
                {
                    "mData": "blog",
                    "mRender": function (data, type, row) {
                        return "<a href='" + data  + "' target='_blank'>" + data + "</a>";
                    }},
                {"data": "category"},
                {
                    "mData": "postSuccess",
                    "mRender": function (data, type, row) {
                        var classAppend = 'badge-danger';
                        var text = 'fail';
                        if(data) {
                            classAppend = 'badge-success';
                            text = 'success';
                        }

                        return "<span class='badge " + classAppend  + "'>" + text + "</span>";
                    }
                }
            ],
            "infoCallback": function( settings, start, end, max, total, pre ) {
                return 'Total movies: ' + total;
            },
            "select": {
                "style": 'multi'
            },
            "createdRow": function (row, data, indice) {
                $(row).attr('data-id', data.id);
            }
        });

        setInterval(function () {
            if(!$(".table tr").hasClass("selected"))
                table.ajax.reload(null, false);
        }, 5000);
    } );

</script>
</html>