<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/header :: header"/>
<body>
<nav th:replace="partials/header :: navigation"/>

<main class="my-5">
    <div class="container">
        <div class="form-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importUsers">Bulk Import Users</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeBlogInfo">Change Blog Info</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPosts">Create Posts</button>
            <button id="enable_visual" class="btn btn-secondary float-right">Toggle visual</button>
        </div>
        <div class="form-group">
            <div class="card card-body">
                <div class="form-inline">
                    <button class="btn btn-sm btn-secondary mr-1" data-toggle="modal" data-target="#changeCategory">Change category</button>
                    <button id="deleteLastPost" class="btn btn-sm btn-secondary mr-1">Delete last post</button>
                    <button id="deleteBlogs" class="btn btn-sm btn-secondary mr-1">Delete blogs</button>
                    <button id="openBlogs" class="btn btn-sm btn-secondary">Open blogs</button>
                    <button class="btn btn-danger ml-auto" type="button" data-toggle="collapse" data-target="#showErrorLog" aria-expanded="false" aria-controls="showErrorLog">Show errors</button>
                </div>

                <div class="collapse mt-2" id="showErrorLog">
                    <div class="card card-body">
                    </div>
                </div>
            </div>
        </div>
        <table id="movie_table" class="table table-bordered">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Оценка пользователя</th>
                    <th>Дата оценки</th>
                </tr>
            </thead>
        </table>
    </div>
</main>

<div class="modal fade" id="changeCategory" tabindex="-1" role="dialog" aria-labelledby="changeCategoryLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeCategoryLabel">Change Blog Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="new-category">New category name:</label>
                    <input type="text" class="form-control" id="new-category">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-submit">Submit</button>
            </div>
        </div>
    </div>
</div>

</body>

<footer th:replace="partials/footer :: footer"></footer>

<script>
    $(document).ready(function() {
        var user_id;
        var table = $('#movie_table').DataTable({
            "ajax": {
                "url": user_id + "/movies",
                "type": "GET",
                "dataSrc": ""
            },
            "dom": 'Blfrtip',
            "buttons": [
                'selectAll',
                'selectNone'
            ],
            "language": {
                "buttons": {
                    "selectAll": "Select all items",
                    "selectNone": "Select none"
                }
            },
            "aoColumns": [
                {"data": "user.movies"},
                {"data": "password_plain"},
                {
                    "mData": "blog",
                    "mRender": function (data, type, row) {
                        return "<a href='" + data  + "' target='_blank'>" + data + "</a>";
                    }},
                {"data": "category"},
                {
                    "mData": "postSuccess",
                    "mRender": function (data, type, row) {
                        var classAppend = 'badge-danger';
                        var text = 'fail';
                        if(data) {
                            classAppend = 'badge-success';
                            text = 'success';
                        }

                        return "<span class='badge " + classAppend  + "'>" + text + "</span>";
                    }
                }
            ],
            "infoCallback": function( settings, start, end, max, total, pre ) {
                return 'Total movies: ' + total;
            },
            "select": {
                "style": 'multi'
            },
            "createdRow": function (row, data, indice) {
                $(row).attr('data-id', data.id);
            }
        });

        setInterval(function () {
            if(!$(".table tr").hasClass("selected"))
                table.ajax.reload(null, false);
        }, 5000);
    } );

</script>
</html>